<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block-center">
                     <div class="top-modal-left">
                        <div class="pl-left">
                        </div>
                    </div>
                    <label_large class="inner-light-shadow whiteColor">@Title</label_large>
                    <a class="close" @onclick="@(async () => { if(InvokeParent.HasDelegate)
                                                                   await InvokeParent.InvokeAsync(); })"></a>

                 </div>
                 <hr />
                @this.ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback InvokeParent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}